

html {
	font-family: 'Roboto', sans-serif;
}

.icons-social i {
	font-size: 4.0vw;
}

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 0 30px;
	text-align: center;
  	background: black;
	color: white;
}

main > .intro {
	font-family: 'Roboto Mono', monospace;
	font-size: 3.5vw;
	font-weight: 600;
}

main > .tagline {
	font-size: 2.3vw;
	margin: 3vw 0;
	font-weight: 100;
}


body{
    background:#000;
    font-family: 'Roboto Mono', monospace;
    font-size: 2vw;
    font-style: italic;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 0 30px;
	text-align: center;
  	background: black;
	color: white;
}
.section{
	
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 0 30px;
	text-align: center;
	
    margin:0px;
    bottom:0px;
    float:left;
    text-shadow:1px 1px 2px #f0f0f0;
}
.section h2{
    margin:50px 0px 30px 50px;
}
.section p{
    margin:20px 0px 0px 50px;
    width:600px;
}
.black{
    color:#fff;
    background:black no-repeat top right;
}
.white{
    color:#000;
    background:white no-repeat top right;
}

.section ul{
    list-style:none;
    margin:20px 0px 0px 550px;
}
.black ul li{
    float:left;
    padding:5px;
    margin:5px;
    color:#aaa;
}
.black ul li a{
    display:block;
    color:#f0f0f0;
}
.black ul li a:hover{
    text-decoration:none;
    color:#fff;
}
.white ul li{
    float:left;
    padding:5px;
    margin:5px;
    color:#aaa;
}
.white ul li a{
    display:block;
    color:#222;
}
.white ul li a:hover{
    text-decoration:none;
    color:#000;
}
